@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --Grey: #F2F1EF;
    --GreyTwo: #332f29;
    --Black: #161513;
    --Naranja: #E94D35;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Grey);
    font-family: "Bai Jamjuree", sans-serif;
}

header{
    min-height: 60px;
}

.nav{
    display: flex;
    width: 100%;
    height: 96px;
    padding: 0 3%;
    align-items: center;
}
.titulo__logo{
    text-transform: uppercase;
    margin-left: 10px;
}

.container__navigation{
    display: flex;
    max-width: 1280px;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.navigation__left{
    display: flex;
    min-height: 60px;
    align-items: center;

}

.menu__wrap .menu__list{
    display: flex;
    text-decoration: none;

}

.menu__wrap .menu__list li{
    padding: 8px;
    list-style: none;
}

.menu__wrap .menu__list li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--Black);
}

.menu__wrap .menu__list li a:hover{
    color: var(--Naranja);
}

.btn__talk{
    display: flex;
    min-height: 40px;
    min-width: 120px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--Black);
    font-size: 16px;
    text-align: center;
}

.btn__talk:hover{
    background-color: var(--Black);
    text-decoration: underline;
    color: #FFFF;
    transition: .4s;
    cursor: pointer;
}

.btn__talk:hover a {
    color: #FFFF;
}

.btn__talk a{
    font-weight: 600;
    font-size: 16px;
    color: var(--Black);
    text-decoration: none;
    font-family: "Bai Jamjuree", sans-serif;
}


.section__hero{
    padding: 40px 5% 20px;
}

.container__largue{
    display: block;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.container__grid{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 44px;
}

.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container__profile{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container__profile h1{
    font-size: 56px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.hero__img{
    width: 100%;
    min-width: 350px;
}

.memoji__container{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero__text h1{
    font-size: 56px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.hero__creative{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    justify-content: flex-start;
    align-items: center;
}

.hero__creative h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 56px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.logo--creative{
    margin-right: 12px;
    margin-left: 12px;
}

.span--Argentina{
    text-decoration: line-through;
}

.detail__wrapper{
    display: flex;
    margin-top: 32px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.detail__wrapper h5{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}


.hero__buttons{
    display: flex;
}

.hero__buttons a{
    text-decoration: none;
}

.btn__black:hover{
    text-decoration: solid 1px var(--Grey) underline;
}

.btn__white:hover{
    text-decoration: solid 1px var(--Black) underline;
}
.btn__black{
    display: flex;
    min-height: 48px;
    min-width: 172px;
    flex-direction: row;
    padding: 12px 32px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    background-color: var(--Black);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.btn__white{
    display: flex;
    min-height: 48px;
    min-width: 138px;
    padding: 12px 32px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    background-color: var(--Grey);
    color: var(--Black);
    font-weight: 600;
    text-align: center;
    line-height: 24px;
}

.section__banner{
    overflow: hidden;
    padding-top:90px;
    padding-bottom: 96px;
}

.banner-wrapper{
    position: relative;
    z-index: 200;
    display: flex;
    overflow: hidden;
    width: 121%;
    height: 96px;
    margin-left: -30px;
    align-items: center;
    transform: rotate(-3deg);
}
.banner{
    display: flex;
    align-items: center;
    background-color: var(--Black);
}

.track-banner{
    display: flex;
    margin-left: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    flex: 0 0 auto;
}

.track-banner img{
    margin-right: 38.58px;
    margin-left: 38.58px;
}

.banner-text{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Bai Jamjuree";
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
}


.section__about{
    padding: 60px 5%;
}

.section__container{
    width: 100%;
    max-width: 1060px;
    margin-right: auto;
    margin-left: auto;
}

.section__grid{
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
}

.name-wrapper{
    display: flex;
    margin-bottom: 24px;
    justify-content: flex-start;
    align-items: center;
}

.name-wrapper h5{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Bai Jamjuree";
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.name-wrapper img{
    margin: 0 5px;
}

.data h1{
    font-size: 36px;
}

.statistics{
    display: grid;
    row-gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.statistics h4{
    font-size: 24px;
}

.detail-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.heading-detail-small{
    color: var(--Naranja);
    font-weight: 600;
    font-size: 14px;
}

.detail-wrapper h5{
    font-size: 24px;
}

.section__regular{
    padding: 60px 5%;
}

.numbers{
    border: 1px solid black;
    width: 100%;
    max-width: 1060px;
    margin-right: auto;
    margin-left: auto;
}

.numbers__grid{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    min-width: 130px;
}
.number__cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-color: var(--GreyTwo);
    text-align: center;
    padding: 24px;
}
.number__largue{
    margin-bottom: 8px;
    font-size: 56px;
    font-weight: 700;
}

.heading__normal{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.number__feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-width: 2px;
    text-align: center;
    color: var(--Grey);
    background-color: var(--Black);
}

.section__awards{
    padding: 60px 5%;
}

.container__awards{
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

.heading__wrapper{
    display: flex;
    max-width: 700px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading__wrapper h2{
    font-size: 46px;
}

.heading__wrapper h6{
    margin-top: 8px;
    font-size: 18px ;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.08em;

}

.icon__star{
    margin-bottom: 24px;
}

.grid__awards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 24px;
}

.card__award{
    display: flex;
    width: 100%;
    padding: 36px 32px;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--Black);
}

.card__award:hover{
    background-color: var(--Black);
    color: var(--Grey);
    cursor: pointer;
    transition: 500ms;
}

.card__content{
    display: flex;
    align-items: center;
}

.number__block{
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 24px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background-color: var(--Naranja);
    color: var(--Grey);
    font-weight: 700px;
}

.card__content__text h5{
    font-size: 24px;
    letter-spacing: -0.02em;
}

.date__detail{
    display: flex;
    align-items: center;
    gap: 3px 8px;
    font-weight: 600;
}

.section__portfolio{
    padding: 60px 5%;
}

.container__project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}

.project__item__base{
    display: flex;
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    
}
.project__image:hover{
    transform: scale(1.1);
    transition: 100ms;
}

.project__image{
    width: 90%;
    height: 100%;
    object-fit: contain;
    transition: 100ms;
}

.project__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.project__content h2{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.tittle__container{
    padding: 4px 12px;
    margin-bottom: 32px;
    background-color: var(--Naranja);
}

.tittle__container__text{
    font-size: 18px;
    color: var(--Grey);
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.project__link{
    margin-top: 48px;
    font-size: 20px;
    font-weight: 600;
    color: var(--Black);
}


.container__project:nth-child(2){
    margin-top: 60px;
}

.container__project:nth-child(3){
    margin-top: 60px;
}

.section__footer{
    padding: 66px 5%;
    background-color: var(--Black);
}

.container__footer{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}

@media (max-width:1024px){
    .section__hero h1{
        font-size: 36px;
    }

    .section__grid{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .data h1{
        font-size: 26px;
    }
    .container__grid{
        grid-template-columns: 1fr;
    }
    .memoji__container{
        display: none;
    }

    .numbers__grid{
        grid-template-columns: 1fr;
    }

    .card__award{
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width:768px){
    .project__content h2{
        font-size: 25px;
    }
    .menu__wrap{
        display: none;
    }
}

@media(max-width:480px){
    .tittle__container__text{
        font-size: 12px;
    }
    .project__content h2{
        font-size: 15px;
    }
}




